<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.whitefox.parken"
version = "1.0.1">

<name>Excellent Habit</name>

<description>
Excellent Habit Apps
</description>

<author href="http://www.sabukhitam.com"
email="support@sabukhitam.com">
Sabukhitam
</author>

<gap:platforms>
<gap:platform name="android" minVersion="2.2" />
<gap:platform name="ios" />
</gap:platforms>

<icon src="icon.png" gap:role="default" />

<gap:splash src="phonestartup.png"/>

<feature name="http://api.phonegap.com/1.0/network" />
<!-- sample preference specification -->
<preference name="autorotate" value="false" readonly="true"/>
</widget> 